@use '../../variables/general';
@use "../../mixins/mixins";
// TODO add mobile!!!
.header__nav {
  @include mixins.tablet-portrait() {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  gap: 20px;
  .header__nav-list-item a{
    text-decoration: none;
    color: general.$primary-color;
    font-weight: 800;
    padding: 10px;
    border-radius: 5px;
    &:hover {
      background-color: general.$white-color;
    }
  }
}