@use "../../variables/general";
@use "../../mixins/mixins";
@use "sass:math";

$columns: 12;
$base: math.div(100%, $columns);

.container {
  width: 1400px;
  @include mixins.mobile() { width: 95%!important; }
  @include mixins.tablet-portrait() { width: 90%; }
  @include mixins.tablet() { width: 960px; }
  @include mixins.desktop() { width: 1200px; }
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    @include mixins.mobile() {
      flex-wrap: wrap!important;
    }
    @include mixins.tablet() { flex-wrap: wrap!important;}
    @include mixins.tablet-portrait() { flex-wrap: wrap!important;}
  }
}
@for $i from 1 through $columns {
  .col-#{$i} {
    width: 100%;
    margin-bottom: 20px;
    @media #{general.$desktop} {
      width: $base * $i;
    }
    @media #{general.$tablet} {
      width: $base * $i;
    }
  }
}

@include mixins.tablet() {
  .col-4 { width: 100%; }
  .col-3 { width: 50%; }
  .col-8 { width: 100%; }
}