@use "../../variables/general";
@use "../../mixins/mixins";
body {
  @include mixins.mobile() {
    p {
      font-size: 1.8em;
      line-height: 1.8em;
    }
  }
}
.section__column--title {
  font-size: 1.35em;
  font-weight: 800;
  line-height: 1.8em;
  color: general.$primary-color;
  @include mixins.mobile() { font-size: 2.25em; }
}


strong { font-weight: 700;}